@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/******** variables de contenido ********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margen{
    width: $ancho-pantalla;
    height: auto;
    padding: 100px 0 80px 0px;

}
.margenpro {
    .subtitulo{
        font-weight: $font-weight-semibold;
        text-transform: uppercase;
    }
}

.margenform {
    padding: 100px 0 100px 0;
}

h1, h2, h3, h4, h5, p, .p2, .pspan, a, .a2, ul, li{
    font-family: $font-family-base;
}
h1{
    font-size: $font-size-h1;
}
h2
{
    font-size: $font-size-h2;
}
h3{
    font-size: $font-size-h3;
}
h4{
    font-size: $font-size-h4;
}
h5{
    font-size: $font-size-h5;
}
p{
    font-size: $font-size-p;
}
.p2{
    font-size: $font-size-p2;
}
.pspan{
    font-size: $font-size-span;
}
.a1{
    font-size: $font-size-a1;
}
.a2{
    font-size: $font-size-a2;
}

/************************************************* NAVEGADOR ************************************/
.navegador1 {
    padding: 20px 20px;
}

.iconologo {
    display: flex;
    .logo {
        padding-left: 15px;
    }
    .navbar-brand{
        padding: 0px;
    }
    a{
        font-size: 24px; /*LETRAS LOGO o H1 + a*/
        white-space: nowrap;
        text-decoration: none;
        color: $color-04;
    }
}




.navegador2{
    background-color: $color-07;
}

nav{
    font-size: $font-size-p;
}

.search-bar {
    width: 300px;
    padding-left: 35px; 
    border-radius: 0%;
}
.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-04;
    font-size: $font-size-p;
}
.fa-solid {
    font-size: $font-size-p;
}

.mascotas:hover {
    text-decoration: underline;
    padding-right: 3px;
}
.bi-chevron-down {
    padding-left: 5px;
}
.navbar-brand img {
    max-width: 100%;
}


.navbar-nav .dropdown-menu {
    background-color: $color-07;
    border: 1px solid #ddd; 
    border-radius: 0%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-nav .dropdown-menu .dropdown-item {
    color: $color-10;
    padding: 10px 20px; 
    font-weight: 500;
    transition: background-color 0.2s ease, color 0.2s ease;
}
.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: $color-03;
    color: $color-01;
    border-radius: 0%;
}


/******************************************* INICIO - REGISTRO *********************************/


.button-ancho{
    text-decoration: none;
    @include button
}
.button-ancho:hover{
    @include button-hover
}

.inicio-sesion a {
    color: $color-03;
}

.btn-outline-dark:hover {
    @include button-hover
}

.fa-google {
    padding: 10px;
}

/********************************************* PERFIL ****************************************/

.cerrarsesion{
    margin-bottom: 80px;
}

/***************************************** HOME ************************************************/
/***********BANNER perrito ********/
.banner{
    width: 100%;
    max-width: 100%;
}
.barizq{
    background-color: $color-02;
}
.alimenta{
    padding-top: 120px;
    padding-left: 60px;
    h2{
        justify-content: flex-start;
    }
    p{
        padding-bottom: 60px;
        color: $color-05;
    }
}
.fa-paw {
    font-size: 20px;
    color: $color-06;
}

.felicidad{
    color: $color-06;
}

.button{
    @include button
}
.button:hover{
    @include button-hover
}

.bander {
    background-color: $color-03;
    z-index: 1;
    position: relative;
    min-height: 455px;
}
.perri{
    left: -108px;
    top: -10px;
}
.ban {
    background-color: $color-03;
}

/************publicidad slider**********/

.slide{
    padding-right: 30px;
}
.publizq{
    h3{
        padding-bottom: 20px;
    }
    h4{
        padding-bottom: 20px;
    }
    p{
        padding-right: 30px;
    }
}
.borderright{
    border-left: 1px solid black ;
    padding-left: 20px;
    margin-left: -20px
}

/*********tarjetas*******/
.tarjetas{

    align-items: center;
    justify-content: center;
    background-image: url(../img/background2.png);
}


.cards .head{
    height: 150px;
    position: relative;
}

.cards .img{
    width: 120px;
    height: 120px;
    position: absolute;
    padding: 0 30px;
    bottom: -20%;
    left: 47%;
    transform: translate(-50%);
    object-fit: cover;
    cursor: pointer;
}

.description{
    height: auto;
    text-align: center;
    margin-top: 20px;
    
    h4{
        padding-top: 20px;
    }
    
    p{
        padding: 0 80px;
        padding-top: 10px;
        padding-bottom: 40px;
        line-height: 150%;
    }
}

.circle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-01;
    color: currentColor;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    z-index: 0;
    a{
        color: $color-04;
    }
}
.circle a:hover svg {
    fill: $color-11; 
    transform: scale(1.1); 
    transition: transform 0.3s, fill 0.3s; 
}
.svg{
    z-index: 10;
}

/************marcas**********/


.logomarca{
    padding: 5px;
}

/* scroll */
.scrolling-container {
    overflow: hidden;
    background-color: $color-01;
}

.scrolling-inner {
    display: flex;
    white-space: nowrap;
    font-size: $font-size-p;
    font-weight: 600;
    padding: 8px 0;
}

.scrolling {
    display: flex;
}

.scrolling-item {
    padding: 20px 30px;
}

.imgmarca {
    border-radius: 5%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px 60px;
}

.scrolling-inner .scrolling {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}



/************tendencias en comida**********/
.tendencias{

    h4{
        padding-bottom: 0px;
    }
    p{
        padding: 15px 0;
    }
}
.boton-vermas .row {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-vermas .col-md-2 {
    text-align: center;
}

.boton-vermas{
    padding: 80px 0 0 0;
}
/*galeria de productos*/
.galeria{
    padding: 0 80px 0 80px;
    .subtitulo{
        font-weight: $font-weight-semibold;
        text-transform: uppercase;
    }
}

.galeria:hover .cajita{
    filter:blur(5px);
    opacity: (50%);
    transform: scale(95%);
}
.galeria:hover .cajita:hover{
    filter: none;
    opacity: 100%;
    transform: scale(105%);
    cursor: pointer;
}
.galeriaproductosanimales{
    p{
        padding-top: 20px;
    }
}
/************encuentra tu COMUNA/MAPA**********/
.mapa {
    width: $ancho-pantalla;
    height: auto;
    padding: 0px 0px 0px 50px;
}

.container-fluid.comuna .row {
    margin-left: 0;
    margin-right: 0;
}

.comuna{
    height: auto;
}

.menumapa {
    border-radius: 0%;
}
.comunas {
    width: 100%;
    padding: 10px;
    background-color :$color-03;
    color: $color-01;
    border: 1px solid $color-05;
    border-radius: 0%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    stroke-opacity: 1px;
}
.comunas:hover{
    background-color: $color-01;
    color: $color-04;
    border-radius: 0%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.comunas option {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 0%;
}
.comunas option:checked {
    background-color: $color-11;
    color: $color-04;
}

/************blog**********/
.container-fluid.blog .row {
    margin-left: 0;
    margin-right: 0;
}
.espacio-img {
    margin-bottom: -35px; 
}
.notablog{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    position: relative;
}
.notablog {
    transition: transform 0.3s, filter 0.3s; 
}

.notablog:hover {
    transform: scale(1.05); 
}

.blogmascotas {
    position: relative; 
    background-color: $color-01; 
    padding: 20px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    width: 70%;
    h4{
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 10px;
    }
    a{
        text-decoration: none;
        color: $color-04;
    }
    a:hover{
        text-decoration: underline;
        color:$color-03;
    }
}


.ultimoboton .row {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ultimoboton .col-md-2 {
    text-align: center;
}

.ultimoboton{
    padding: 80px 0 120px 0;
}
/****************************** PRODUCTOS **************************************************/
.paddingproductos {
    padding-top: 50px;
} 
.productosmain{
    h3, h4, p, ul{
        padding-bottom: 12px;
    }
}
.zoom-in {
    transition: transform 0.3s, filter 0.3s; 
}

.zoom-in:hover {
    transform: scale(1.05); 
}

.quantity-wrapper {
    display: flex;
    align-items: center;
    font-size: $font-size-span;
}

.quantity-label {
    margin-right: 8px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    overflow: hidden;
}

.quantity-button {
    background-color: $color-01;
    border: none;
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: $font-size-p;
}

.quantity-button:hover {
    background-color: $color-01;
    cursor: default;
}

.quantity-input {
    border: none;
    width: 60px;
    text-align: center;
    font-size: $font-size-span;
}

.quantity-input:focus {
    outline: none;
}

.anadircarrito{
    padding-top: 60px;
}

.infoproductos{
    padding: 90px 0 50px 0;
}

.ingreizq{
    padding-right: 100px;
}


.cardproduct {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
    .cardproduct-img {
        width: 150px;
        height: 290px;
        padding: 30px 0;
        margin: 0 auto;
    }
    p{
        color: $color-04;
        padding: 10px 16px;
        display: block;
        max-width: 100%;
        white-space: normal;
    }
    
    .cardproduct-content {
        padding: 16px;
        background-color: $color-03;
        border-radius: 0 0 15px 15px;
        
        .cardproduct-a {
        color: $color-01;
        background-color: $color-03;
        text-decoration: none;
        border: none;
        font-size: $font-size-a1;
        }
        .cardproduct-a:hover {
            text-decoration: underline;
        }
    }
}

.productorecomendado1{
    padding: 70px 0 70px 10px;
    h3{
        letter-spacing: 1px;
        white-space: nowrap;
    }
}

.productorecomendado{
    padding-bottom: 70px;
}


/***************************** CARRITO ****************************************************/
.atrascarrito{
    padding-bottom: 60px;
}
.cuerpocarrito{
    padding-top: 60px;
    padding-bottom: 60px;
}

.sidebar-total{
    background-color: $color-07;
    margin-top: 120px;
    padding: 40px 20px;
    .button{
        @include  button
    }
    .button:hover{
        @include button-hover
    }
}

.hamsterizquierdo{
    left: 0px;
    top: -8px;
}

.hamsterderecho{
    right: 0px;
    top: -8px;
}
.carritoeditable{
    .eliminar{
        color: $color-14;
    }
}
.carrito-contenedor {
    padding-bottom: 80px;
}
.product-cantidad {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: end;
    height: 100%;
}

.product-cantidad input {
    width: 40px; 
}


/********************************** PERROS ************************************************/
.perro1{
    left: 0px;
    transform: translateY(-8px);
}

.perro2{
    left: -40px;
    top: -35px;
}

.perro3{
    right: 50px;
    top: 18px;
}

/*************************************** GATOS ********************************************/
.mainimglanding{
    background-image: url(../img/background3.png);
    object-fit: cover;
    width: 100%;
    height: 215px;
    h2{
        padding-top: 90px;
        white-space: nowrap;
        text-align: center;
        justify-content: center;
    }
}

.pnganimalitos{
    z-index: 10;
    overflow: clip;
    position: absolute;
}

.gato1{
    left: 10px;
    top: 3px;
}

.gato2{
    left: 5px;
    top: 110px;
}

.gato3{
    right: 15px;
    top: -5px;
}

.atras{
    padding: 20px 0 0 90px;
    a{
        font-size: $font-size-a2;
        color: $color-10;
        text-decoration: none;
    }
}

.sidebar1{
    background-color: $color-07;
    padding-top: 40px;
    h5{
        padding-left: 40px;
    }
    li{
        margin-left: -20px;
    }
}
.sidebar2{
    background-color: $color-07;
    margin-top: 80px;
    padding: 40px 30px 0px 30px;

    .form-check-input {
        margin-bottom: 18px;
        &:checked {
            background-color: $color-03 ; 
        }

        &:focus {
            outline: 1px solid $color-11;
            outline-offset: 1px; 
        }
    }
    .form-check-label {
        padding-left: 10px; 
        padding-bottom: 10px;
        color: $color-12;
        font-size: $font-size-a1;

        &:hover {
            font-weight: 600;
        }
    }
    
}
.filtro{
    padding-bottom: 50px;
    .first {
        padding-top: 18px;
    }
    ul{
        list-style: none;
    }
    li{
        padding-top: 18px;
    }
    a{
        text-decoration: none;
        color: $color-12;
        font-size: $font-size-a1;
    }
    a:hover {
        text-decoration: underline;
        font-weight: 600;
    }
    h5{
        color: $color-03;
        padding-bottom: 10px;
        padding-left: 40px;
    }
}

/****************************** ANIMALES EXOTICOS *****************************************/
.gallina{
    width: 165px;
    left: 45px;
    top: -12px;
}
.jerbo{
    width: 180px;
    top: 70px;
}
.cata{
    width: 340px;
    left: -95px;
    top: -12px;
}

/***************************************** SOBRE NOSOTROS **********************************/
.mainnosotros{
    padding-bottom: 90px;
}
.titulonosotros{
    padding-bottom: 10px;
}
.subtitulonosotros{
    padding-bottom: 20px;
}
.mision{
    padding-bottom: 10px;
    p{
        text-align: left;
    }
}
.vision{
    padding: 15px 0 10px 0;
}
/******************************************* DESPACHOS *************************************/
.pajaro{
    left: -30px;
    transform: translateY(-15px);
}

.pajaritos{
    left: -60px;
    top: -3px;
}

.hamster2{
    right: 25px;
    top: 80px;
}
.maindespachos{
    padding: 100px 0 150px 220px;
}
/************************************** TERMINOS Y CONDICIONES *******************************/

.conejitos{
    left: 50px;
    transform: translateY(-38px); 
}

.conejo{
    left: 65px;
    top: 118px;
}

.hamster{
    right: 45px;
    top: 5px;
}

.mainterminos{
    padding: 100px 0 150px 220px;
}
.cuadradoparrafo{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 100px 120px;
    li{
        list-style: none;
        padding-top: 5px;
    }
}
/*********************************************** BLOG ****************************************/
.blogbanner{
    .primertextoblog{
        padding: 0px 100px 0 0;
        margin-top: 15px;
    }
}

.cutecat{
    left: -180px;
    top: -49px;
}

.blogmain{
    padding: 120px 0;
}

.notablogprincipal {
    width: 100%;
    padding: 20px;
    background-color: $color-01;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    .autor{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 30px 0 20px 0;
    }
    
    .notablogprincipal-img {
        width: 100%;
        height: auto;
    }
    
    .notablogprincipal-body {
        padding: 16px;
        text-align: left;
        background-color: $color-13;
        
        a{
            text-decoration: none;
            color:$color-04;
            font-size: $font-size-a1;
            display: block;
            margin: 16px auto 0;
            text-align: center;
        }
        a:hover{
            text-decoration: underline;
            color:$color-03;
        }
        
        .notablogprincipal-title {
            font-weight: bold;
            color: $color-04;
            margin-bottom: 12px;
        }
        h2{
            padding-bottom: 10px;
        }
        .notablogprincipal-text {
        color: $color-04;
        line-height: 1.6;
        }
    }
}

.noticia2{
    margin-top: 60px;
}
.publiblog{
    padding-left: 30px;
    padding-top: 40px;
}

/*********************************************** NOTICIA ****************************************/
.articulonoticia{
    .titulonoticia{
        padding-bottom: 15px;
    }
    p, h3{
        padding-bottom: 15px;
        text-align: left;
    }
}
.imgarticulo{
    margin-bottom: 30px;
}

/**************************************** FARMACIA ********************************************/
.farmacia{
    margin-top: 70px;
}


/*************************************** FOOTER ***********************************************/
.footer {
    width: $ancho-pantalla;
    padding-top: 30px;
    padding-bottom: 50px;
}

.info-footer {
    a {
        text-decoration: none;
        color: $color-10;
    }

    a:hover {
        text-decoration: none;
        color: $color-03;
    }

    li {
        list-style: none;
        padding: 5px 0;
    }

    p {
        font-size: $font-size-p;
    }
}
.minifooter{
    padding: 15px 0;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    gap: 8px;
    overflow: hidden;
    p{
        font-size: $font-size-a2;
    }
    a{
        text-decoration: none;
        font-size: $font-size-a2;
        color:$color-10;
    }
    a:hover{
        text-decoration: none;
        color:$color-03;
    }
}

.minifootercen {
    flex-wrap: wrap;
    gap: 8px;
}

.minifooterder {
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    a .face{
        padding-left: 10px;
        }
}
/***************************************** RESPONSIVE **************************/
/*******navegador*********/

@media (max-width: 768px) {
    .texto-ocultar {
        display: none;
    }

    .navbar-nav .nav-item {
        margin-left: 5px;
    }

    .navbar-nav .nav-link svg {
        width: 24px;
        height: 24px;
    }
    .menumapa {
        padding: 50px 50px 0 50px;
    }

    .notablog {
        padding-bottom: 50px;
    }

    .gato2, .gato3{
        display: none;
    }
    .gato1{
        width: 180px;
        left: 280px;
        top: 70px;
    }
    .perro1, .perro2{
        display: none;
    }
    .perro3{
        top: -130px;
        right:  5px; 
    }
    .hamsterizquierdo{
        display: none;
    }
    .hamsterderecho{
        width:120px;
        top: -90px;
        right: 15px;
    }
    .hamster2{
        display: none;
    }
    .pajaro{
        display: none;
    }
    .maindespachos, .mainterminos{
        width: 100%;
        padding-left: 30px;
        flex-wrap: wrap;
    }
    .parrafodespachos, .parrafoterminos{
        padding-left: 50px;
        padding-right: 50px;
        word-wrap: break-word;
        white-space: normal;
        overflow-wrap: break-word; 
    }
    .pajaritos{
        width: 150px;
        top: -60px;
        left: 300px;
    }
    .bander{
        margin-top: 90px;
    }
    .perri{
        left: auto;
        width: 420px;
        top: 70px;
    }
    }
    .publizq{
        padding-left: 40px;
        h3{
            padding-top: 30px;
        }
    }
    .marcas, .tendencias, .comuna, .blog{
        padding-left: 40px;
    }

    .conejitos, .conejo{
        display: none;
    }
    
    .inicio{
        padding: 30px;
    }
    .mainnosotros, .costadonosotros{
        padding: 0 40px 40px 40px;
    }
    .mision{
        padding-top: 40px;
    }
    .pajaronosotros{
        display: none;
    }
    .articulonoticia{
        padding: 30px;
    }
    .perfil{
        padding: 0 40px 0 40px;
    }
    .productosmain{
        padding: 40px 30px 0 30px;
        h3{
            padding-top: 30px;
        }
    }
    .paddingpro {
        padding-bottom: 50px;
    }

    .paddingproductos {
        padding-top: 0px;
    } 
    .atras{
        padding: 20px 0 0 20px;
    }
    .cata, .gallina{
        display: none;
    }
    .jerbo{
        top: 70px;
        left: 300px;
    }
    .mainimglanding{
        h2{
        word-wrap: break-word;
        white-space: normal;
        overflow-wrap: break-word;
        width: 70%;
        }
    }


@media (max-width: 1440px) {
    .notablog {
        padding-bottom: 50px;
    }
    .perro1, .perro2, .conejo, .gato2, .hamster2{
        display: none;
    }
    .hamster{
        width: 120px;
        top: -100px;
        left: 340px;
    }
}
