@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******** variables de contenido ********/

.margen{
    margin: 0 auto;
    width: $ancho-pantalla;
}

body{
    color: $color-04;
}

/*************NAVEGADOR***************/
.navegador2{
    background-color: $color-07;
}

nav{
    font-size: 16px;
    font-family: $font-texto;
    
}

.search-bar {
    width: 400px; 
    padding-left: 35px; 
    border-radius: 0%;
}
.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-04;
    font-size: 16px;
}
.fa-solid {
    font-family: $font-texto;
    font-size: 16px;
}
li .carrito{
    display: inline-block;
    svg{
        top: 3%; /**********toi peleando con este carro desgraciao*************/
    }
}
.mascotas:hover {
    text-decoration: underline;
    padding-right: 3px;
}

/***************banner****************/
.banner{
    background-image: url(../img/banner1.png);
    width: auto;
    height: auto;
}
.barizq{
    background-color: $color-08;
}

.bander {
    background-color: $color-03;
    img .shibainu{
        height: auto;
        width: auto;
    }
}
.boton-perfil {
    background-color: $color-03;
    color: white;  
    border: none;
}

/*************FOOTER***************/

/*************RESPONSIVE***************/