@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******** variables de contenido ********/

.margen{
    margin: 0 auto;
    width: $ancho-pantalla;
}

body{
    color: $color-04;
}

/*************NAVEGADOR***************/
.navegador2{
    background-color: $color-07;
}

nav{
    font-size: 16px;
    font-family: $font-texto;
    
}

.search-bar {
    width: 500px; 
    padding-left: 35px; 
    border-radius: 0%;
}
.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-04;
    font-size: 16px;
}
.fa-solid {
    font-family: $font-texto;
    font-size: 16px;
}
li .carrito{
    display: inline-block;
    svg{
        top: 3%; /**********toi peleando con este carro desgraciao*************/
    }
}
.mascotas:hover {
    text-decoration: underline;
    padding-right: 3px;
}

/***************banner****************/
.banner{
    width: 100%;
}
.barizq{
    background-color: $color-02;
}
.alimenta{
    padding-top: 120px;
    padding-left: 60px;
    font-family: $font-texto;
    h2{
        justify-content: flex-start;
        font-weight: 700;
        font-size: 48px;
    }
    p{
        font-size: 24px;
        padding-bottom: 60px;
        color: $color-05;
        font-weight: 600;
    }
    .button{
        font-size: 16px;
        padding: 20px 45px;
        background-color: $color-03;
        text-decoration: none;
        color: $color-01;
    }
}

.bander {
    background-color: $color-03;
    z-index: 1;
    .perri{
        z-index: 10;
    }
}
<<<<<<< Updated upstream
.boton-perfil {
    background-color: $color-03;
    color: white;  
    border: none;
=======
.ban {
    background-color: $color-03;
}

/*************HOME BODY***************/
.publicidad{
    height: 550px;
    padding-top: 120px;
}
.slide{
    padding-left: 20px;
}
.publizq{
    padding-left: 50px;
    h3{
        padding-bottom: 20px;
        font-size: 32px;
        font-weight: 600;
    }
    h4{
        padding-bottom: 20px;
    }
    p{
        padding-right: 30px;
    }
}

.marcas{
    height: 800px;
    padding-top: 100px;
>>>>>>> Stashed changes
}

/*************FOOTER***************/

/*************RESPONSIVE***************/