// acá definimos funciones que vamos a reutilizar en más de una parte del proyecto
@mixin button {
    font-size: 16px;
    padding: 20px 45px;
    background-color: $color-11;
    text-decoration: none;
    color: $color-01;
    border-radius: 0%;
}

@mixin button-hover {
    background-color: $color-03;
    color: $color-01;
}
