@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
//pantalla:
$ancho-pantalla:90%;

//Colores ejemplo: 
$color-01: #FFFFFF;
$color-02: #F4F7FF;
$color-03: #1A3572;
$color-04: #000000;
$color-05: #858585;
$color-06: #D5B91F;
$color-07: #F9FAFB;
$color-08: #F6F9FF;
$color-09: #E4ECFF;
$color-10: #4B5563;
$color-11: #8BAFFF;
$color-12: #1F2937;
$color-13: #f5f5f5;



// Fuentes ejemplo:
$font-texto: "Work Sans", serif;
//$font-titulo: "xxx", sans-serif;
$medida-font: 1rem;