// Acá declaro todos los valores de mis variables

//Colores ejemplo: 
$color-01: #2c3e50;
$color-02: #2980b9;


// Fuentes ejemplo:
$font-texto: "Roboto Slab", serif;
$font-titulo: "Oswald", sans-serif;
$medida-font: 1rem;